<main>
  <header>
    <app-header></app-header>
  </header>

  <section class="body">

    <section class="sessao-principal">
      <div class="sessao-secundaria">
        <div class="card flex justify-center botao" *ngFor="let dado of dados">
          <p-button label="{{dado.label}}" (onClick)="selecionarDado(dado.lados)" />
        </div>
      </div>
    </section>
    <section class="sessao-rolagem">
      <div>
        <img class="dado" src="/d20.png" alt="Dado D20" />
        <div class="card flex justify-center botao">
           <p-button label="Rolar Dado" (onClick)="rolarDado()" [disabled]="dadoSelecionado === null" />
        </div>
      </div>
      <div class="sessao-resultado">
        <div class="card">

          <p-table [value]="historicoRolagem" [scrollable]="true" scrollHeight="400px"
            [tableStyle]="{'min-width': '50rem'}">
            <ng-template #header>
              <tr>
                <th>ID</th>
                <th>Lado</th>
                <th>Resultado</th>
              </tr>
            </ng-template>
            <ng-template #body let-historicoRolagem>
              <tr>
                <td>{{historicoRolagem.id}}</td>
                <td>{{historicoRolagem.lado}}</td>
                <td>{{historicoRolagem.resultado}}</td>
              </tr>
            </ng-template>
          </p-table>

        </div>
      </div>
    </section>
  </section>

  <footer>
    <app-footer></app-footer>

  </footer>
</main>