<app-header></app-header>
<main>

  <section class="section-one">

    <div class="titulo">
      <h1>Select Die</h1>
    </div>

    <div class="section-die">
      <img class="img-dado" [src]="'/d' + dado.lados + '.png'" [alt]="'Dado de ' + dado.lados + ' lados'"
        [ngClass]="{'dado-selecionado': dadoSelecionado === dado.lados}" (click)="selecionarDado(dado.lados)"
        *ngFor="let dado of dados">
    </div>

    <div class="button">
      <button class="roll" (click)="rolarDado()">Roll</button>
      <audio #audioDado src="/dice-rolling.mp3"></audio>
    </div>

    <div class="resultado">
      <img src="/pergaminho.png" alt="">
      <p>{{resultado?.resultado}}</p>
    </div>

  </section>
  
  <section class="section-two">

    <div class="pergaminho">

      <p-table [value]="historicoRolagem" [scrollable]="true" scrollHeight="350px" [tableStyle]="{'min-width': '10rem'}"
        class="rpg-table">

        <ng-template pTemplate="header">
          <tr>
            <th>Dado</th>
            <th>Resultado</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-historicoRolagem>
          <tr>
            <td>{{'D' + historicoRolagem.lado}}</td>
            <td>{{historicoRolagem.resultado}}</td>
          </tr>
        </ng-template>

      </p-table>


    </div>

  </section>
</main>

<app-footer></app-footer>