<main>
  <header>
    <app-header></app-header>
  </header>

  <body>
    <section class="sessao-principal">
      <div class="sessao-secundaria">
        <div class="card flex justify-center botao">
          <p-button label="D2" />
        </div>
        <div class="card flex justify-center botao">
          <p-button label="D4" />
        </div>
        <div class="card flex justify-center botao">
          <p-button label="D6" />
        </div>
        <div class="card flex justify-center botao">
          <p-button label="D8" />
        </div>
        <div class="card flex justify-center botao">
          <p-button label="D10" />
        </div>
        <div class="card flex justify-center botao">
          <p-button label="D20" />
        </div>
      </div>
    </section>
    <section class="sessao-imagem">
      <div>
        <p>a</p>
      </div>
      <div class="sessao-resultado">
        <div class="card flex justify-center botao">
          <p-button label="Jogar Dado" />
        </div>
      </div>
    </section>
  </body>
  <footer>
    <app-footer></app-footer>

  </footer>
</main>